
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.row{
    display: flex;
    flex-direction: row;
    max-height: 250px;
    gap: 30px;
}

.photo{
    max-width: 250px;
    max-height: 2500px;
    gap: 30px;
}