*{
    box-sizing: border-box;
}

div,
main,
article,
body,
p{
    margin: 0;
    padding: 0;
}

html{
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url('fonts/InterRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('fonts/InterBold.ttf');
    font-weight: bold;
}

.container{
    background-color: #6600FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.weather-app{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
}   


.location-bar{
    height: 44px;
    display: flex;
    gap: 20px;
}

.location-button{
    height: 44px;
    width: 44px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.location-input{
    height: 100%;
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px 15px;
}

.current-weather{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.current-weather-icon{
    width: 220px;
    height: 220px;
}

.current-weather-temperature{
    font-size: 45px;
}

.current-weather-status{
    font-size: 25px;
}

.forecast{
    display: flex;
    gap: 10px;
    flex-direction: row;
    overflow: auto;
}

.forecast-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forecast-time{
    font-size: 15px;
    font-weight: bold;
}

.forecast-icon{
    width: 40px;
    height: 40px;
}

.forecast-temperature{
    font-size: 15px;
}

.cur-location{
    padding: 10px;
}
